@import './../vars.css';

.container {
  height: auto;
  min-height: 100px;
  background-color: var(--primary-100);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-m) 0;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 var(--spacing-m);
}

.socialMediaWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.socialIcon {
  transition: all .3s;
}

.socialIcon:hover {
  filter: brightness(150%);
  margin: 0 var(--spacing-m);
}

.socialIcon:active {
  filter: brightness(60%);
}

.copyright {
  font-size: 18px;
  letter-spacing: 0.67px;
  text-align: center;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxs);
}



  