@import './../vars.css';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: var(--accent-accessible);
}

.iconBtn {
  flex-grow: 0;
  height: 100%;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  padding: var(--spacing-xs) var(--spacing-m);
  color: var(--white);
  font-size: 30px;
  background-color: var(--accent-accessible);
  transition: all .3s;
  filter: none;
}

.iconBtn:hover {
  background-color: var(--accent);
}

.iconBtn:active {
  background-color: var(--accent-35);
}

.navigationSection {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.buttonNav {
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: none;
    padding: var(--spacing-xs) var(--spacing-m);
    color: var(--white);
    letter-spacing: 0.7px;
    font-size: 30px;
    background-color: var(--accent-accessible);
    font-weight: bold;
    transition: all .3s;
    filter: none;
}

.buttonNav:hover {
    background-color: var(--accent);
    padding: var(--spacing-xs) var(--spacing-xxl);
}

.buttonNav:active {
  background-color: var(--accent-35);
}

.containerMobile {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 50px;
  background-color: var(--accent-accessible);
  transition: all .3s;
}

.homeBurgerLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.mobileMenu {
  height: 200px;
  background-color: var(--accent-accessible);
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: flex-end;
}

.menuButton {
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  padding: var(--spacing-xs) var(--spacing-m);
  color: var(--white);
  font-size: 30px;
  background-color: var(--accent-accessible);
  transition: all .3s;
  filter: none;
  height: 50px;
  width: auto;
  text-align: right;
}

.menuButton:hover {
  background-color: var(--accent);
}

.menuButton:active {
  background-color: var(--accent-35);
}

